* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.3s ease;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

body {
  font-family: "Montserrat", serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

section {
  padding: 7rem 0;
}

.container {
  width: 80%;
  margin: auto;
}

.section-title {
  text-align: center;
  font-size: 6.4rem;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 4.8rem;
  }
}
@media (max-width: 430px) {
  .section-title {
    font-size: 3.6rem;
  }
}

.subline {
  width: min(100%, 17rem);
  height: 0.4rem;
  background-color: #3a3a8d;
  margin: 1rem auto 4.8rem;
}

.btn, .btn-tertiary, .btn-secondary, .btn-primary, .btn-primary-black, .btn-primary-white {
  width: max-content;
  background: transparent;
  border: 0.2rem solid rgb(80, 109, 245);
  text-transform: capitalize;
  padding: 1.6rem 3.2rem;
  font-size: 1.76rem;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}
@media (max-width: 568px) {
  .btn, .btn-tertiary, .btn-secondary, .btn-primary, .btn-primary-black, .btn-primary-white {
    width: 100%;
    max-width: 16.3rem;
  }
}
.btn-primary, .btn-primary-black, .btn-primary-white {
  color: rgb(80, 109, 245);
}
.btn-primary:hover, .btn-primary-black:hover, .btn-primary-white:hover {
  background-color: rgb(80, 109, 245);
  color: #FFF;
}
.btn-primary-white {
  color: #FFF;
}
.btn-primary-black {
  color: inherit;
}
.btn-secondary {
  color: #FFF;
  border: 0.2rem solid #FFF;
}
.btn-secondary:hover {
  background-color: #FFF;
  color: #313131;
}
.btn-tertiary {
  background-color: #fce11c;
  border: 0.2rem solid #fce11c;
  color: #FFF;
}
.btn-tertiary:hover {
  background-color: transparent;
  color: black;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/assets/img/header.jpg") no-repeat center/cover;
  height: calc(100vh - 10rem);
  display: grid;
  grid-template-rows: repeat(1, auto);
}
.hero .hero__content {
  color: white;
  text-align: center;
}
.hero .hero__content .hero__heading {
  font-size: 4.8rem;
  text-transform: capitalize;
}
.hero .hero__content .hero__p {
  margin: 1.6rem 0;
  max-width: 55rem;
  margin: 1.6rem auto;
}
.hero .hero__content .hero__btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  gap: 1.6rem;
  justify-content: center;
}

.header {
  background-color: #313131;
}
.header .nav {
  padding: 1.6rem 0;
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .header .nav {
    grid-template-columns: repeat(2, auto);
  }
}
.header .nav .nav__checkbox {
  display: none;
}
@media (max-width: 1200px) {
  .header .nav .nav__checkbox:checked ~ .nav__list {
    left: 0;
  }
  .header .nav .nav__checkbox:checked ~ .nav__burger span:nth-child(1) {
    transform: translate(0, 1rem) rotateZ(45deg);
  }
  .header .nav .nav__checkbox:checked ~ .nav__burger span:nth-child(2) {
    display: none;
  }
  .header .nav .nav__checkbox:checked ~ .nav__burger span:nth-child(3) {
    transform: rotateZ(-45deg);
  }
}
.header .nav__logo {
  z-index: 5;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1.6rem;
  align-items: center;
}
.header .nav__logo__img {
  width: 9rem;
}
.header .nav__logo span {
  color: white;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 2.4rem;
}
@media (max-width: 568px) {
  .header .nav__logo span {
    display: none;
  }
}
.header .nav__list {
  display: grid;
  grid-template: repeat(1, auto)/repeat(4, auto);
  gap: 3.2rem;
  list-style-type: none;
}
@media (max-width: 1200px) {
  .header .nav__list {
    position: absolute;
    grid-template: repeat(4, auto)/repeat(1, auto);
    align-content: center;
    justify-items: center;
    background-color: #313131;
    inset: 0;
    width: 100%;
    left: -100%;
  }
}
.header .nav__list .nav__link {
  color: white;
  text-transform: uppercase;
}
.header .nav__list .nav__link:hover {
  color: rgb(80, 109, 245);
}
@media (max-width: 1200px) {
  .header .nav__btn {
    display: none;
  }
}
.header .nav__burger {
  z-index: 5;
  display: none;
  width: 3rem;
  height: 2rem;
  align-content: space-between;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header .nav__burger {
    display: grid;
    grid-template-rows: repeat(3, auto);
  }
}
.header .nav__burger span {
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 0.5rem;
}

.footer {
  padding: 7rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, calc((100% - 9.6rem) / 4)));
  gap: 3.2rem;
  justify-content: space-between;
}
@media (max-width: 1384px) {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(25rem, calc((100% - 3.2rem) / 2)));
  }
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 100%));
  }
}
.footer__item--form {
  max-width: 35rem;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 1.6rem;
}
.footer__item--form .footer__input {
  padding: 1rem;
}
.footer__item--form textarea {
  height: 15rem;
  resize: none;
}
.footer__item__heading {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
}
.footer__item__list:not(.footer__item__list--none) {
  list-style-type: square;
  padding-inline-start: 2rem;
}
.footer__item__list--none {
  list-style-type: none;
}
.footer__item__list--none i {
  color: #fce11c;
  margin-right: 1rem;
}
.footer__item__list--link {
  text-transform: capitalize;
  margin-bottom: 0.8rem;
  display: block;
  color: rgb(80, 109, 245);
  font-weight: 500;
}
.footer__item__list--link:hover {
  color: #fce11c;
}
.footer__item .footer__img {
  width: 15rem;
}

.about__tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, auto));
  gap: 3.2rem;
  justify-content: center;
}
@media (max-width: 430px) {
  .about__tiles {
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  }
}
.about__tile {
  border: 2px solid black;
  text-align: center;
  padding: 4rem 4rem 3rem;
}
.about__tile:hover {
  transform: scale(1.1);
}
.about__tile .about__title,
.about__tile .about__price {
  margin-bottom: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.8rem;
}
.about__tile .about__title {
  font-size: 2.8rem;
}
.about__tile .about__price {
  font-size: 1.8rem;
}
.about__tile .about__price-value {
  font-size: 5rem;
  color: #3a3a8d;
}
.about__tile .about__text {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.about__tile .about__text::first-letter {
  text-transform: uppercase;
}

.adv {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/assets/img/bg2.jpg") no-repeat center/cover;
}
.adv__title {
  color: white;
}
.adv__tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 30%));
  gap: 3.2rem;
  justify-content: space-between;
}
@media (max-width: 1250px) {
  .adv__tiles {
    grid-template-columns: repeat(auto-fit, minmax(31rem, auto));
  }
}
@media (max-width: 430px) {
  .adv__tiles {
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  }
}
.adv__tile {
  background-color: white;
  padding: 0 3.2rem 3.2rem;
}
.adv__tile:hover {
  transform: scale(1.05);
}
.adv__tile-title {
  font-size: 2.4rem;
  margin: 3.2rem 0 1.6rem;
}
.adv__tile-text {
  text-align: justify;
  margin-bottom: 1.6rem;
}
.adv__img {
  width: calc(100% + 6.4rem);
  margin: 0 -3.2rem;
}

.serv {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/src/assets/img/bg2.jpg") no-repeat left top;
  background-size: 120%;
}
.serv .serv__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, auto));
  gap: 3.2rem;
}
@media (max-width: 430px) {
  .serv .serv__content {
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  }
}
.serv .serv__content .serv__box {
  color: white;
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-self: self-start;
  align-self: center;
}
.serv .serv__content .serv__box-1 {
  justify-content: center;
}
.serv .serv__content .serv__box-2 {
  gap: 2rem;
}
.serv .serv__content .serv__box .gears-icon {
  width: 6rem;
  height: 5rem;
  background: url("/src/assets/img/gears-icon.svg") no-repeat center/cover;
}
.serv .serv__content .serv__box__heading {
  font-size: 4.8rem;
  margin-bottom: 2rem;
}
.serv .serv__content .serv__box__description {
  font-size: 1.76rem;
  text-align: justify;
  max-width: 50rem;
  margin-bottom: 1.6rem;
}
.serv .serv__content .serv__box__btn {
  letter-spacing: 0.2rem;
}
@media (max-width: 568px) {
  .serv .serv__content .serv__box__btn {
    max-width: 16.3rem;
  }
}
.serv .serv__content .serv__box__title {
  font-size: 2.8rem;
}
.serv .serv__content .serv__box__text {
  font-size: 1.76rem;
  text-align: justify;
  max-width: 50rem;
}

.team {
  padding: 7rem 0;
}
.team__title {
  color: black;
}
.team__tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  gap: 3.2rem;
  justify-content: center;
}
.team__tile {
  background-color: white;
  padding: 0 3.2rem 3.2rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: repeat(4, auto);
}
.team__tile-title {
  font-size: 2.4rem;
  margin-top: 3.2rem;
}
.team__tile-text {
  margin-bottom: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}
.team__tile-description {
  text-align: justify;
  font-weight: 500;
  margin-bottom: 2rem;
}
.team__img {
  width: calc(100% + 6.4rem);
  margin: 0 -3.2rem;
}
.team__stars {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 0.8rem;
  justify-content: start;
  align-content: end;
}
.team__stars .blue-star-icon,
.team__stars .white-star-icon {
  width: 2rem;
  height: 2rem;
}
.team__stars .blue-star-icon {
  background: url("/src/assets/img/blue-star-icon.svg") no-repeat center/cover;
}
.team__stars .white-star-icon {
  background: url("/src/assets/img/white-star-icon.svg") no-repeat center/cover;
}

/*# sourceMappingURL=style.css.map */
